# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
ENV/
env/
venv_win/

# Project Specific
models/
temp/
logs/
settings.json
history.json

# Distribution / Packaging
dist/
build/
*.spec

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
